<div class="container-fluid">
  <div class="row">
    <!-- Columna izquierda para la navegación -->
    <div class="col-md-3 sidebar">
      <!-- Logo o título del banco -->
      <div class="logo">
        <h2>Bank of Neverland</h2>
      </div>
      <!-- Menú de navegación -->
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create-bank" routerLinkActive="active">Crear Banco</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create-admin" routerLinkActive="active">Crear Administrador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create-account-holder" routerLinkActive="active">Crear Titular de Cuenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-third-party" routerLinkActive="active">Agregar Tercero</a>
        </li>
      </ul>
    </div>
    <!-- Columna derecha para las pantallas dinámicas de Angular -->
    <div class="col-md-9 main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>